fastspell==0.11
nltk==3.8.1
docopt
xxhash>=2.0.0
sacremoses==0.0.53
mecab-ko==1.0.1
reldi-tokeniser==1.0.3
pyidaungsu==0.1.4
sinling==0.3.6
fitrat==0.0.9
mahaNLP==0.9
bnlp-toolkit==4.0.1
thai-segmenter==0.4.1
#stopwords==1.0.0  --> Using fork (below)
stopwords @ git+https://github.com/mbanon/stopwords@master
indic-nlp-library==0.92
stopwordsiso==0.6.1
spacy-pkuseg==0.0.32
hebrew-tokenizer==2.3.0
nlp-id==0.1.15.0
mecab-python3==1.0.6
unidic-lite==1.0.8
tldextract
botok==0.8.12
pathvalidate