fastspell==0.9.1
nltk==3.8.1
docopt
xxhash>=2.0.0
sacremoses==0.0.53
mecab-ko==1.0.1
#nlpashto
reldi-tokeniser==1.0.3
#icu-tokenizer
pyidaungsu==0.1.4
sinling==0.3.6
fitrat==0.0.9
mahaNLP==0.9
bnlp-toolkit==3.3.2
thai-segmenter==0.4.1
stopwords==1.0.0