fastspell==0.13
nltk==3.9.1
docopt
xxhash>=2.0.0
sacremoses==0.0.53
mecab-ko==1.0.1
reldi-tokeniser==1.0.3
pyidaungsu==0.1.4
sinling==0.3.6
fitrat==0.0.9
#bnlp-toolkit==4.0.3 --> Moved to its own env 
#bnlp-toolkit @ git+https://github.com/mbanon/bnlp@main
thai-segmenter==0.4.1
#stopwords==1.0.0  --> Using fork (below)
stopwords @ git+https://github.com/mbanon/stopwords@master
indic-nlp-library==0.92
stopwordsiso==0.6.1
spacy-pkuseg==0.0.32
hebrew-tokenizer==2.3.0
nlp-id==0.1.18.0 
mecab-python3==1.0.6
unidic-lite==1.0.8
botok==0.8.12
pathvalidate
pii-manager @ git+https://github.com/mmanteli/multilingual-PII-tool@db59603
iso639-lang==2.2.3
klpt==0.1.6
pycantonese==3.4.0
LaoNLP==1.2.0
openodia==0.1.11
igbo-text==0.1.3
tldextract==5.1.3
heliport==0.8.1
pandas==2.3.0
fastparquet==2024.11.0
orjson==3.11
