.bilingualTable table {
  border: 1px solid #eeeeee;
}
.bilingualTable table thead {
  background-color: #022831;
  color: white;
  border: 1px solid #dde1e2;
}
.bilingualTable table thead tr {
  padding: 4px 12px;
}

.bilingualTable table tr td a {
  color: rgb(1, 95, 236);
  text-decoration: none;
}

.bilingualTable table tr {
  padding: 0 12px;
}
.bilingualTable table tbody tr:nth-of-type(even) {
  background-color: #e3f2f8;
}
