.analyticsMention {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dataReportContainer {
  margin-top: 40px;
  color: var(--main-copy);
}

.dataReportContainer h2 span {
  color: var(--graph-axis-text);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.tables,
.tablesLeft {
  display: flex;
}

.overviewTables {
  margin-right: 50px;
}

.dataReportContainer h3 {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
}

.noiseTitleCont {
  margin-bottom: 10px;
  margin-top: 45px;
}

.dataReportContainer .singleLanguageReportDocs h3 {
  margin-top: 18px;
  width: 90%;
  display: flex;
}

.analyticsTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.analyticsTitleContainer h2 {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3px;
}

.hpltAnalyticsTitle span.analyticsTitleSpan {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  color: #a50000;
}

.hpltAnalyticsTitle {
  font-weight: 500;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  padding: 20px;
}

.overlayText {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.overlayText h1 {
  color: white;
  margin-right: 15px;
}

.hidden {
  display: none;
}

.analyticsTitle {
  line-height: 1.45;
  width: 80%;
}

.hpltAnalyticsLogo {
  margin-left: 7px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.reportMainTitle {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 40px;
  width: 60%;
}

.marginTop {
  margin-top: 40px;
}

.typeContainer {
  display: flex;
  margin: 20px 0 60px 0;
}

.typeContainer p {
  font-size: 18px;
  margin-right: 60px;
}

.typeContainer p {
  font-weight: 600;
}

.typeContainer p span {
  margin-left: 5px;
}

.lowestType {
  color: #a50000;
}

.mediumType {
  color: #ffef11;
}

.goodType {
  color: #12db00;
}

.bicleanerScores {
  margin-bottom: 40px;
}

.bicleanerScores h2 {
  margin-bottom: 30px;
}

.languagesPieReports {
  display: flex;
  align-items: flex-end;
}

.languagesPieReportsContainer {
  margin-bottom: 15px;
  margin-top: 30px;
}

.singleLanguageReport,
.singleLanguageReportDocs {
  width: 50%;
  margin-right: 20px;
}

.singleLanguageReport h3 {
  margin-bottom: 10px;
  display: flex;
}

.docsLangsReport {
  width: 50%;
}

.singleDistribution {
  margin-bottom: 30px;
}

.languageDistributionContainer {
  margin-bottom: 20px;
}

.languageDistributionContainer h2 {
  margin-bottom: 20px;
}

.nGramContainer h2 {
  margin-bottom: 20px;
}

.singleNGramContainer {
  margin-top: 20px;
}

.blank {
  height: 30px;
}

.testing {
  position: relative;
  z-index: -100000;
}

.tooltipLink {
  color: var(--tooltip-link);
  text-decoration: none;
}

.exportToPDFButton,
.downloadButton {
  border: none;
  font-size: 16px;
  padding: 7px 18px;
  background-color: rgb(45, 45, 45);
  color: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.downloadButton {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-right: 15px;
  text-decoration: none;
}

.ovalP {
  margin-right: 10px;
}

.percSpan {
  color: rgb(29, 89, 62);
}

.dataReportContainer h3.smaller {
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

.domainLink {
  text-decoration: none;
  color: var(--desc-link-color);
}

.containsTooltip {
  display: flex;
  align-items: center;
}

/* NGRMS*/

/******** volumes table ****/
.topDomains {
  margin-right: 30px;
}

.dataReportContainer table {
  text-align: left;
  border-collapse: collapse;
  margin: 5px 0 20px 0;
}

.dataReportContainer table thead tr {
  border: 1px solid rgb(197, 211, 237);
}

.dataReportContainer table thead th,
.dataReportContainer table tr td {
  padding: 8px 30px 8px 8px;
  font-size: 14px;
  min-width: 60px;
}

.dataReportContainer .topDomains table thead th,
.dataReportContainer .topDomains table tr td {
  padding: 5px 30px 5px 8px;
  font-size: 14px;
}

.dataReportContainer .topDomains table thead th:first-of-type,
.dataReportContainer .topDomains table tr td:first-of-type {
  min-width: 60px;
}

.dataReportContainer .topTLDs table thead th,
.dataReportContainer .topTLDs table tr td {
  padding: 5px 30px 5px 8px;
  font-size: 14px;
}

.dataReportContainer table thead th {
  font-weight: 500;
}

.bicleanerScores h2 {
  margin-top: 30px;
}

.reportButtons {
  display: flex;
  justify-content: flex-end;
}

.reportButtons button {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.helpCircle {
  margin-left: 10px;
  margin-bottom: -3px;
}

.langDocsContainer {
  display: flex;
}

.docsCollectionsGraph {
  width: 65%;
  margin-right: 30px;
}

.mobileNum,
.mobileData {
  display: none;
}

@media (max-width: 1260px) {
  .tables {
    flex-direction: column;
  }

  .tablesLeft {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .languagesPieReports {
    flex-direction: column;
  }

  .singleLanguageReport,
  .singleLanguageReportDocs {
    width: 100%;
    margin-right: 0;
  }

  .langDocsContainer {
    flex-direction: column;
    justify-content: center;
  }

  .docsCollectionsGraph {
    width: 100%;
    margin-right: 0;
  }

  .collectionsGraphPie {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .analyticsTitleContainer {
    margin-bottom: 20px;
  }

  .analyticsTitle {
    font-size: 26px;
  }

  .hpltAnalyticsTitle {
    font-size: 18px;
  }

  .hpltAnalyticsTitle span.analyticsTitleSpan {
    font-size: 18px;
  }

  .analyticsTitleContainer img {
    width: 25px;
    height: 25px;
  }

  .tables h3 {
    font-size: 18px;
  }

  .overviewTables {
    margin-right: 0px;
  }

  .dataReportContainer table {
    margin: 5px 0 15px 0;
  }

  .dataReportContainer h3 {
    font-size: 18px;
  }

  .desktopNum {
    display: none;
  }

  .mobileNum {
    display: block;
  }
}

@media (max-width: 640px) {
  .tablesLeft {
    flex-direction: column;
  }

  .desktopData {
    display: none;
  }

  .mobileData {
    display: block;
    margin: 10px 0 20px 0;
  }

  .mobileData p {
    margin: 5px 0;
  }
  .analyticsTitle {
    font-size: 22px;
  }
}
