.legendListStacked {
  list-style-type: none;
  width: fit-content;
  margin-left: 30px;
}

.graph-cont {
  height: 400px;
  width: 25%;
  margin-right: 70px
}

.graph-cont-bars {
  width: 69%;
  height: 400px;
}

.title {
  display: flex;
}

.title h2 {
  margin-right: 7px;
  margin-top: -1px
}

.tooltipLink {
  color: var(--tooltip-link);
  text-decoration: none;
}

.tooltipText {
  font-size: 14px;
}

.tooltip {
  background-color: white;
  border: solid 1px rgb(199, 199, 199);
  padding: 15px 35px 15px 15px;
  border-radius: 5px;
  width: fit-content;
}

.domain-labels {
  width: 100%;
  height: 405px;
  display: flex;
  align-items: flex-start;
}

.label {
  font-weight: 600;
  margin-bottom: 12px;
}

.legendText {
  color: #1e1f2cff;
}

@media (max-width: 1200px) {
  .domain-labels {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .graph-cont {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .labellist {
    display: none;
  }
}
