.legendListStacked {
  list-style-type: none;
  width: fit-content;
  margin: 36px 0 0px 20px;
}

.legendListStacked li {
  margin: 10px 0;
}

.legendItem,
.tooltipMetric {
  display: flex;
  align-items: center;
  color: #1c1d2c;
}

.legendSwatch,
.tooltipSwatch {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 2px;
}

.tooltipRow {
  margin: 4px 0;
}

.graph-cont {
  height: 400px;
  width: 25%;
  margin-right: 70px;
}

.graph-cont-bars {
  width: 100%;
  height: 400px;
  display: flex;
}

.title {
  display: flex;
}

.title h2 {
  margin-right: 7px;
  margin-top: -1px
}

.tooltip {
  background-color: white;
  border: solid 1px rgb(199, 199, 199);
  padding: 15px 35px 15px 15px;
  border-radius: 5px;
  width: fit-content;
}

.domain-labels {
  width: 100%;
  height: 405px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.label {
  font-weight: 600;
  margin-bottom: 12px;
}

.legendText {
  color: #1e1f2cff;
}

@media (max-width: 1200px) {
  .domain-labels {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .graph-cont {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 750px) {
  .labellist {
    display: none;
  }

  .domain-labels {
    gap: 20px;
  }

  .graph-cont-bars {
    height: 360px;
    display: block;
  }

  .legendListStacked {
    margin-left: 0;
  }
}
