.topDomains {
  margin-right: 30px;
}
.domainLink {
  text-decoration: none;
  color: var(--desc-link-color);
}
.bilingualTable {
  margin-right: 30px;
  margin-bottom: 20px;
}
.bilingualTable h2 {
  font-size: 20px;
}
.bilingualTable table th,
.bilingualTable table td {
  padding: 5px 10px !important;
}

.bilingualTable table th span,
.bilingualTable table td span {
  font-weight: 600;
}
