.footer {
  display: flex;
  margin: 60px 0px 30px 0px;
}

.eu-flag {
  width: 50px;
  margin: 53px 0 10px 0;
}

.horizon-logo {
  margin: 0px 0 0px 0;
}

.twitter-icon-footer {
  width: 30px;
  margin-bottom: 5px;
}

.footer-text-left,
.footer-text-middle {
  max-width: 40%;
  font-size: 14px;
  line-height: 1.4;
}

.footer-text-left {
  max-width: 31%;
  margin-right: 30px;
}

.footer-text-middle {
  margin-right: auto;
}

.footer-info {
  color: var(--footer-info);
}

.hplt-copyright {
  font-weight: 500;
  margin-left: -3px;
  margin-bottom: 30px;
}

.footer-text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
}

.contact-email {
  color: gray;
  font-size: 14px;
  text-decoration: none;
}

.horizon-link {
  text-decoration: none;
  color: inherit;
}

.logosLeft {
  display: flex;
  align-items: flex-end;
}

.ukriLogoCont {
  width: 140px;
  margin-left: 10px;
}

.ukri-logo {
  width: 100%;
  height: 15%;
}

.visitor-count p {
  font-weight: var(--subtitle-font-weight);
}

@media (max-width: 930px) {
  .footer {
    margin: 60px 0 30px 0;
  }

}

@media (max-width: 768px) {
  .footer {
    display: block;
    margin: 30px 0;
  }

  .footer-text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
  }

  .footer-text-left,
  .footer-text-middle,
  .footer-text-right {
    max-width: 100%;
    margin-top: 30px;
  }

  .eu-flag {
    margin-top: 0px;
  }


}

@media (max-width: 541px) {
  .footer {
    margin: 30px 0;
  }

}