.langDocs {
  height: 320px;
  min-width: 550px;
  border-radius: 5px;
  background-color: var(--language-pie-chart-bg);
  backdrop-filter: blur(5px);
  padding: 10px 30px 10px 10px;
  margin-bottom: 20px;
}
