.container {
  height: 290px;
  margin-top: 15px;
}

.title {
  display: flex;
}

.tooltipLink {
  color: var(--tooltip-link);
  text-decoration: none;
}

@media (max-width: 768px) {
  .noiseDistributionGraphContainer {
    height: 260px;
  }
}