.dataReportContainer {
  color: var(--main-copy);
}

.reportMainStats,
.generalOverview {
  width: 100%;
}

.dataReportContainer h3 {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
}

.tables,
.tablesLeft,
.bilingualTables,
.anotherContainer,
.languagesPieReports,
.langDocsContainer,
.title,
.containsTooltip,
.reportButtons {
  display: flex;
}

.tables {
  justify-content: space-between;
  padding-bottom: 40px;
}

.tablesLeft {
  justify-content: normal;
}

.overviewTables {
  margin-right: 15px;
}

.anotherContainer,
.langDocsContainer {
  width: 100%;
}

.languagesPieReports {
  align-items: flex-end;
}

.languagesPieReportsContainer {
  margin-bottom: 15px;
  margin-top: 30px;
}

.singleLanguageReport {
  margin-right: 20px;
}

.singleLanguageReport,
.singleLanguageReportDocs {
  width: 50%;
}

.singleDistribution {
  margin-bottom: 30px;
}

.languageDistributionContainer {
  margin-bottom: 20px;
}

.languageDistributionContainer h2 {
  margin-bottom: 20px;
}

.blank {
  height: 30px;
}

.tooltip,
.tooltipWarm,
.tooltipPriority {
  font-weight: 400;
  background-color: rgba(17, 21, 24, 1);
  z-index: 10000;
}

.tooltipWarm {
  background-color: rgba(24, 18, 17, 1);
}

.tooltipPriority {
  z-index: 100000;
}

.tooltipText {
  font-size: 14px;
}

.tooltipLink {
  color: var(--tooltip-link);
  text-decoration: none;
}

.tooltipTrigger svg,
.titleTooltipTrigger svg {
  margin-bottom: -2px;
  margin-left: 3px;
}

.tooltipTriggerSmall svg {
  margin-bottom: -3px;
  margin-left: 3px;
}

.titleTooltipTrigger {
  margin-left: 5px;
}

.percSpan {
  color: rgb(29, 89, 62);
}

.dataReportContainer h3.smaller {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.containsTooltip {
  align-items: center;
}

.volumes {
  width: fit-content;
}

.volumesOffset {
  margin-top: 20px;
}

.targetTable {
  margin-left: auto;
}

.tables table {
  text-align: left;
  border-collapse: collapse;
  margin: 5px 0 0;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.tables table thead {
  color: #333333;
}

.tables table thead tr {
  border-bottom: 1.5px solid #5e5d5d;
}

.tables table thead th {
  padding: 12px 8px;
  font-weight: bold;
}

.tables table thead th:first-child {
  padding: 10px 8px 10px 14px;
}

.tables table thead th:last-child {
  padding: 10px 14px 10px 8px;
}

.tables table tr td {
  color: #666666;
  font-size: 14px;
  padding: 10px 8px;
}

.tables table tr td:first-child {
  padding: 7px 8px 7px 14px;
}

.tables table tr td:last-child {
  padding: 7px 14px 7px 8px;
}

.tables table tr:not(:last-child) {
  border-bottom: 1px solid #5e5d5d;
}

.tables table tr td a {
  color: rgb(1, 95, 236);
  text-decoration: none;
}

.reportButtons {
  justify-content: flex-end;
}

.reportButtons button {
  cursor: pointer;
}

.langTitle {
  margin-bottom: 20px;
}

.title {
  align-items: flex-start;
  margin-bottom: 10px;
}

.primaryChartWithAside,
.primaryChartFull {
  margin-bottom: 40px;
}

.primaryChartWithAside {
  width: 70%;
}

.primaryChartFull {
  width: 100%;
}

.asideChart {
  width: 30%;
  margin-bottom: 40px;
}

.mobileNum,
.mobileData {
  display: none;
}

@media (max-width: 1260px) {
  .tables {
    flex-direction: column;
  }

  .tablesLeft {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .languagesPieReports,
  .langDocsContainer {
    flex-direction: column;
  }

  .langDocsContainer {
    justify-content: center;
  }

  .singleLanguageReport,
  .singleLanguageReportDocs,
  .primaryChartWithAside,
  .primaryChartFull,
  .asideChart {
    width: 100%;
  }

  .singleLanguageReport,
  .singleLanguageReportDocs {
    margin-right: 0;
  }

  .collectionsGraphPie {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .tables h3,
  .dataReportContainer h3 {
    font-size: 18px;
  }

  .overviewTables {
    margin-right: 0;
  }

  .dataReportContainer table {
    margin: 5px 0 15px;
  }

  .desktopNum {
    display: none;
  }

  .mobileNum {
    display: block;
  }
}

@media (max-width: 640px) {
  .tablesLeft {
    flex-direction: column;
  }

  .desktopData {
    display: none;
  }

  .mobileData {
    display: block;
    margin: 10px 0 20px;
  }

  .mobileData p {
    margin: 5px 0;
  }
}
