.analyticsMention {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dataReportContainer {
  color: var(--main-copy);
}

.dataReportContainer h2 span {
  color: var(--graph-axis-text);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.tables,
.tablesLeft {
  display: flex;
}

.tables {
  justify-content: space-between;
  padding-bottom: 40px;
}

.tablesLeft {
  justify-content: normal;
}

.overviewTables {
  margin-right: 15px;
}

.dataReportContainer h3 {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
}

.noiseTitleCont {
  margin-bottom: 10px;
  margin-top: 45px;
}

.bilingualTables {
  display: flex;
}

.hidden {
  display: none;
}

.analyticsTitle {
  line-height: 1.45;
  width: 80%;
}

.hpltAnalyticsLogo {
  margin-left: 7px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.reportMainTitle {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 40px;
  width: 60%;
}

.marginTop {
  margin-top: 40px;
}

.typeContainer {
  display: flex;
  margin: 20px 0 60px 0;
}

.typeContainer p {
  font-size: 18px;
  margin-right: 60px;
}

.typeContainer p {
  font-weight: 600;
}

.typeContainer p span {
  margin-left: 5px;
}

.lowestType {
  color: #a50000;
}

.mediumType {
  color: #ffef11;
}

.goodType {
  color: #12db00;
}

.bicleanerScores {
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100%;
}

.anotherContainer {
  display: flex;
}

.bicleanerScores h2 {
  margin-bottom: 30px;
}

.languagesPieReports {
  display: flex;
  align-items: flex-end;
}

.languagesPieReportsContainer {
  margin-bottom: 15px;
  margin-top: 30px;
}

.singleLanguageReport {
  margin-right: 20px;

}

.singleLanguageReport,
.singleLanguageReportDocs {
  width: 50%;
}



.docsLangsReport {
  width: 50%;
}

.singleDistribution {
  margin-bottom: 30px;
}

.languageDistributionContainer {
  margin-bottom: 20px;
}

.languageDistributionContainer h2 {
  margin-bottom: 20px;
}

.nGramContainer h2 {
  margin-bottom: 20px;
}

.singleNGramContainer {
  margin-top: 20px;
}

.blank {
  height: 30px;
}

.testing {
  position: relative;
  z-index: -100000;
}

.tooltipLink {
  color: var(--tooltip-link);
  text-decoration: none;
}

.exportToPDFButton,
.downloadButton {
  border: none;
  font-size: 16px;
  padding: 7px 18px;
  background-color: rgb(45, 45, 45);
  color: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.downloadButton {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-right: 15px;
  text-decoration: none;
}

.ovalP {
  margin-right: 10px;
}

.percSpan {
  color: rgb(29, 89, 62);
}

.dataReportContainer h3.smaller {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.containsTooltip {
  display: flex;
  align-items: center;
}

/* NGRMS*/


/******** volumes table ****/
.volumes {
  width: fit-content;
}

.targetTable {
  margin-left: auto;
}

.tables table {
  text-align: left;
  border-collapse: collapse;
  margin: 5px 0 0px 0;
  border-radius: 3px;
}

.tables table thead th {
  padding: 12px 8px;
}

.tables table thead tr {
  border-bottom: 1.5px solid #5e5d5d;
}

.tables table thead th:first-child {
  padding: 10px 8px 10px 14px;
}

.tables table tr td {
  font-size: 14px;
  padding: 10px 8px;
}

.tables table tr td:first-child {
  padding: 7px 8px 7px 14px;
}

.tables table thead th:last-child {
  padding: 10px 14px 10px 8px;
}

.tables table tr td:last-child {
  padding: 7px 14px 7px 8px;
}

.tables table thead th {
  font-weight: bold;
}

.tables table {
  border: 1px solid #eeeeee;
}

.tables table thead {
  color: #333333;
}

.tables table tr td a {
  color: rgb(1, 95, 236);
  text-decoration: none;
}

.tables table tr td {
  color: #666666;
}

.tables table tr:not(:last-child) {
  border-bottom: 1px solid #5e5d5d;
}

.bicleanerScores h2 {
  margin-top: 30px;
}

.reportButtons {
  display: flex;
  justify-content: flex-end;
}

.reportButtons button {
  cursor: pointer;
}

.langTitle {
  margin-bottom: 20px;
}

.title {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}


.helpCircle,
.helpCircleSmall {
  margin-left: 5px;
  margin-bottom: -8px;
}

.langDocsContainer {
  display: flex;
}

.docsCollectionsGraph {
  width: 65%;
  margin-right: 30px;
}

.mobileNum,
.mobileData {
  display: none;
}

@media (max-width: 1260px) {
  .tables {
    flex-direction: column;
  }

  .tablesLeft {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .languagesPieReports {
    flex-direction: column;
  }

  .singleLanguageReport,
  .singleLanguageReportDocs {
    width: 100%;
    margin-right: 0;
  }

  .langDocsContainer {
    flex-direction: column;
    justify-content: center;
  }

  .docsCollectionsGraph {
    width: 100%;
    margin-right: 0;
  }

  .collectionsGraphPie {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .analyticsTitleContainer {
    margin-bottom: 20px;
  }

  .analyticsTitle {
    font-size: 26px;
  }

  .hpltAnalyticsTitle {
    font-size: 18px;
  }

  .hpltAnalyticsTitle span.analyticsTitleSpan {
    font-size: 18px;
  }

  .analyticsTitleContainer img {
    width: 25px;
    height: 25px;
  }

  .tables h3 {
    font-size: 18px;
  }

  .overviewTables {
    margin-right: 0px;
  }

  .dataReportContainer table {
    margin: 5px 0 15px 0;
  }

  .dataReportContainer h3 {
    font-size: 18px;
  }

  .desktopNum {
    display: none;
  }

  .mobileNum {
    display: block;
  }
}

@media (max-width: 640px) {
  .tablesLeft {
    flex-direction: column;
  }

  .desktopData {
    display: none;
  }

  .mobileData {
    display: block;
    margin: 10px 0 20px 0;
  }

  .mobileData p {
    margin: 5px 0;
  }

  .analyticsTitle {
    font-size: 22px;
  }
}