.name-cont,
.file-cont {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-top: 30px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-clip: padding-box;
  border: 0.5px solid rgb(223, 223, 223);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
  margin-top: 3px;
  margin-right: 15px;
  background-color: white;
  border: 0.5px solid rgb(228, 228, 228);
  padding: 0.375rem 0.75rem;
  border-radius: 3px;
  width: 260px;
  margin-right: 15px;
}

.loaderContainer {
  height: 100%;
  width: 100%;
  position: relative;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  position: absolute;
  background: color;
  background-color: white;
  border: 1px solid #f3f1f5;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 810px;
  height: 280px;
  top: 0;
  bottom: 0;
  padding-top: 30px;
  left: 0;
  right: 0;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.flex,
.input-group,
.inputs {
  display: flex;
}

.dropdown-cont {
  width: 260px;
  margin-right: 10px;
  position: static !important;
}

.inputs label {
  margin-right: 20px;
  margin-bottom: 10px;
}

.navbar-brand {
  margin-left: -7px;
}

.single-nav-link {
  margin-left: 30px;
  text-decoration: none;
  color: rgb(140, 5, 5);
}

.cards-container {
  display: flex;
}

.card-wrapper {
  width: 320px;
  margin-right: 15px;
}

.main-container {
  padding: 10px 120px;
}

.form-group input:not([type="checkbox"]):not([type="radio"]) {
  min-width: 240px;
}

.button-holder {
  width: 110px;
}

.button-holder-2 {
  width: 130px;
}

.button-holder-3 {
  width: 160px;
}

.button-holder button {
  padding: 4px 20px;
}

.label-holder {
  width: 80px;
}

.form-control-plaintext {
  padding: 0;
}

.bold {
  font-weight: bold;
}

.input-holder {
  width: 220px;
}

.parent-holder {
  display: flex;
  width: 30%;
}

.uploadToast {
  position: absolute;
  z-index: 10;
  padding: 20px;
  border-radius: 7px;
  top: 20px;
  right: 20px;
  background-color: white;
  width: 32vw;
  box-shadow: rgba(0, 0, 0, 0.118) 0px 3px 8px;
}

.uploadToast h2 {
  margin-bottom: 15px;
  font-size: 26px;
}

.uploadToast p {
  width: 80%;
  font-size: 18px;
  line-height: 1.4;
}

.partiIcon {
  margin: 0 0 -2px 6px;
}

.toaster {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  align-content: center;
  align-items: center;
  border: 0.5px solid #de0000;
  margin: 30px auto;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 45px;
  left: 0;
  right: 0;
  font-size: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.xCircle {
  margin-left: 10px;
}

.dropdown-cont select {
  font-size: 16px;
}

.dropdown-cont {
  position: static;
}

.cmd {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
}

.cmdContainer {
  background-color: rgb(25, 27, 25);
  border-radius: 10px;
  padding: 20px;
}

.cmdContainer p {
  color: rgb(25, 221, 221);
  line-height: 1.6;
}

.copyIcon {
  margin-left: 10px;
}

.cmd button {
  margin-top: 10px;
  margin-left: auto;
  display: flex;
  cursor: pointer;
}
.hidden {
  display: none;
}

.button-26,
.button-27,
.button-28,
.button-32,
.cmd button {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  /* position: relative; */
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
}
.button-32 {
  background-color: #d30303;
  border: 1px solid #f01616;
  margin-right: 0;
}

.button-27,
.cmd button {
  background-color: transparent;
  color: #1652f0;
}

.button-28 {
  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  color: #39739d;
}

.button-26:disabled {
  opacity: 0.5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.button-26:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.form-label {
  display: inline-block;
  margin-bottom: 1px;
}

.file-cont {
  margin-bottom: 10px;
}

.name-cont {
  margin-right: 20px;
}

.form-control {
  width: 240px;
}

.file-input {
  width: 300px;
}

.uploader-buttons {
  margin-top: 20px;
  display: flex;
}

.lang-inputs {
  display: flex;
}

.inputs {
  margin: 20px 0;
}

.cmd button.closeCmd {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 10px 0;
  color: rgb(21, 22, 19);
  align-items: center;
  margin-left: auto;
  font-weight: 500;
}

.closeIcon {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .viewerContainer {
    padding: 10px 90px 40px 90px;
  }

  .main-container {
    padding: 10px 60px;
  }
}

@media (max-width: 930px) {
  .main-container {
    padding: 10px 60px 40px 60px;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 10px 30px 40px 30px;
  }

  .uploader-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 634px) {
  .form-control {
    width: 50%;
    min-width: none;
  }

  .file-input {
    width: 50%;
    min-width: none;
  }

  .dropdown-cont {
    width: 50%;
  }
}

@media (max-width: 541px) {
  .main-container {
    padding: 10px 15px 40px 15px;
  }

  .dropdown-cont,
  .name-cont,
  .file-cont {
    margin-top: 10px;
  }

  .input-group {
    flex-direction: column;
  }

  .uploader-buttons {
    flex-direction: column;
  }

  .inputs {
    margin: 15px 0;
  }

  .lang-inputs {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
  }

  .file-input {
    width: 100%;
  }

  .dropdown-cont {
    width: 100%;
  }

  .name-cont {
    margin-right: 0;
  }

  .inputs label {
    margin-bottom: 0px;
  }

  .button-26,
  .button-27,
  .button-28 {
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
  }
}
